/* Hugh stylin' */

.hugh__form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 8px;
}

.hugh__primary-color {
	display: block;
	width: 40px;
	height: 56px;
	margin-right: 4px;
	padding: 0 2px;
}

.hugh__submit {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* Container for previous colorways */
.hugh__colorways {
	content:"";
	display:table;
}

.hugh__colorways:after {
	clear:both;
}

.hugh__colorway {
	position: relative;
	float: left;
	margin: 0 4px 4px 0;
	width: 16px;
	height: 16px;
	background: grey; /* TODO temporary */
}

@-webkit-keyframes color-hover {
	60% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes color-hover {
	60% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.hugh__colorway:focus,
.hugh__colorway:hover {
	-webkit-animation: color-hover .2s ease-in-out;
	animation: color-hover .2s ease-in-out;
}

.hugh__colorway:focus {
	box-shadow: 0 0 0 2px purple;
	box-shadow: 0 0 0 2px rebeccapurple;
	box-shadow: 0 0 0 2px currentColor;
}

.hugh__colorway-accent {
	position: absolute;
		top: 6px;
		left: 6px;
	margin: 0;
	width: 4px;
	height: 4px;
	background: white; /* TODO temporary */
}
