/* Hugh stylin' */

.hugh__screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}

.hugh__form {
	content:"";
	display:table;
	position: relative;
	margin-bottom: 4px;
}

.hugh__form:after {
	clear:both;
}

.hugh__color {
	display: block;
	float: left;
	width: 36px;
	height: 40px;
	margin-right: 4px;
	padding: 0 2px;
}

.hugh__label {
	float: left;
	min-height: 40px;
	min-width: 160px;
	min-width: 0;
	width: 100%;
	width: calc( 100% - 80px );
	height: 40px;
	margin-right: 4px;
	padding: 8px 12px;
	font-size: 14px;
}

.hugh__submit {
	width: 36px;
	height: 40px;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
	/*display: none;*/
}

/* Container for previous colorways */
.hugh__colorways {
	content:"";
	display:table;
	margin: 0 -2px;
}

.hugh__colorways:after {
	clear:both;
}

.hugh__colorway {
	position: relative;
	float: left;
	margin: 0 2px 4px;
	width: 16px;
	height: 16px;
	background: grey; /* TODO temporary */
}

@-webkit-keyframes color-hover {
	60% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes color-hover {
	60% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.hugh__colorway:focus,
.hugh__colorway:hover {
	-webkit-animation: color-hover .2s ease-in-out;
	animation: color-hover .2s ease-in-out;
}

.hugh__colorway:focus {
	box-shadow: 0 0 0 2px purple;
	box-shadow: 0 0 0 2px rebeccapurple;
	box-shadow: 0 0 0 2px currentColor;
}

.hugh__colorway-accent {
	position: absolute;
		top: 6px;
		left: 6px;
	margin: 0;
	width: 4px;
	height: 4px;
	background: white; /* TODO temporary */
}
